- comments = post.comments
- comments_count = comments.count
- replies_count = 0
- comments.each do |comment|
  - replies_count += comment.replies.count
%span{class: comment_icon(post)}
= comments_count + replies_count