= form_with model: [post, comment] do |f|
  .row
    = f.text_area :body, placeholder: t("send-comment"), class: "comment_form mx-2 col-8 pt-3"
  .row
    = f.submit t("reply"), class: "mt-1 btn btn-primary"