:plain
  $('#comment__wrap-content-#{@post.id}').append("#{ j(render 'public/comments/show', comment: @comment) }");
  $('.comment_form').val('');
  $('#comment__wrap-#{@post.id}').html("#{ j(render 'public/comments/count', post: @post) }")