= month_calendar events: @training_sets do |date, events|
  = date.day
  - events.each do |event|
    %div
      = link_to training_set_path(event) do
        = image_tag asset_path("dumbbell.png"), size: "50x40", class: "ml-4"