.container
  .row
    .col-3
      = render "layouts/sidebar"
    .col-9.mb-5
      = render "public/training_sets/calendar", events: @training_sets
  .row
    .col-7
      = link_to t("create-today-trainings"), selected_training_link, class: "btn btn-danger"