.row.col-7.mx-auto.d-flex.justify-content-between
  %span.text-dark.pointer.active#following_btn
    = t("follow")
  %span.text-dark.pointer#followers_btn
    = t("follower")
.row#relationship__wrap-following
  = render "public/relationships/show_page", items: @following
.row#relationship__wrap-followers{hidden: true}
  = render "public/relationships/show_page", items: @followers
