.container
  .row
    .col-3
      = render "layouts/sidebar"
    .container.col-9.mb-5.mt-5
      .row.col-7.mx-auto.d-flex.justify-content-between
        = link_to t("follow"), following_user_path(current_user), remote: true, id: "following-content"
        = link_to t("follower"), followers_user_path(current_user), remote: true, id: "followers-content"
      .row
        = render "public/relationships/show_follower", following: @following
