%body
  %header#header
    %nav#navigation.navbar.navbar-expand-lg.navbar-light.d-flex.justify-content-between.align-items-center.flex-row.flex-nowrap
      #logo.logo
        = link_to root_path, class: "navbar-brand" do
          = image_tag asset_path("main_logo.png"), class: "main_logo"
      .w-100.h-100.d-flex.justify-content-end
        .h-50.d-flex.justify-content-between
          #nav-menu.d-flex.justify-content-center.align-items-center
            %div
              %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", type: "button"}
                %span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
              %ul.navbar-nav.nav-items
                = render partial: "public/homes/nav-item", collection: nav_items, as: :item
= render "public/requests/form"