<div id=“header” class=“container navbar-fixed-top” style=“background: lightgray; height:100px; font-size: 30pt;”>header</div>
<nav class=“navbar navbar-default navbar-fixed-top container” style=“margin-top: 100px;”>
   <div class=“navbar-header”>
      <button class=“navbar-toggle” data-toggle=“collapse” data-target=“.target”>
         <span class=“icon-bar”></span>
         <span class=“icon-bar”></span>
         <span class=“icon-bar”></span>
      </button>
      <a class=“navbar-brand” href=“”>Menu</a>
   </div>
   <div class=“collapse navbar-collapse target”>
      <ul class=“nav navbar-nav”>
         <li class=“active”><a href=“”>Link1</a></li>
         <li><a href=“”>Link2</a></li>
         <li><a href=“”>Link3</a></li>
      </ul>
   </div>
</nav>