= render "public/homes/header"
.top__main
  .container
    .row.pt-5
      .main__form-wrap.offset-lg-2.col-lg-4.col-12.hidden
        .main__login-form
          = render "public/sessions/form", user: @user
      .main__head.col-5.offset-7
        %h3.main__head-title
          = t("main-head-title")
        %p.main__head-text
          = t("main-head-text")
