.top__main
  .container
    .row
      .main__login-form
        .col-4
          = render "public/sessions/form"
      .main__head.col-5.offset-7
        %h3.main__head-title
          = t("main-head-title")
        %p.main__head-text
          = t("main-head-text")
