.container
  .row
    .col-3
      = render "layouts/sidebar"
    .container.bg-light.col-9.py-5
      .row
        %h3
          = t("training-menu-index")
      %table.table
        %thead
          %tr
            %th ID
            %th 名前
            %th 効果部位
            %th
        = render partial: "admin/training_menus/show", collection: @training_menus, as: "training_menu"