// Bootstrap の Sass mixin を使えるようにするための記述
@use "~bootstrap/scss/bootstrap" as *;

@use "../global/variables" as *;


.top__main{
  background-image: url($main-background);
  background-size: cover;
  background-position: center;
  height: 832px;
  width: 100%;
  .main__head{
    border-left: 2px solid gray;
    border-top: 2px solid gray;
    padding: 10px;
  }
  .main__form-wrap{
    margin-top: 100px;
    opacity: 0;
    pointer-events: none;
    .main__login-form{
    color: white;
    background-color: #404040;
    border-radius: 20px;
    }
  }
  .error-messages{
    background-color: rgba(255, 0, 0, 0.5);
  }
}

.posts__main{
  background-color: white;
  .posts__content-wrap{
    border-bottom: 1px solid #000;
  }
  .post-form{
    font-size: 24px;
    resize: none;
    border: 1px solid #000;
    width: 500px;
    height: 200px;
  }
  .posts__content-user-name{
    &:hover{
      text-decoration: none;
    }
  }
  .posts__content-text{
    text-decoration: none;
  }
}

.weight-form{
  border: 2px solid #000;
  border-radius: 50% !important;
  height: 150px;
  width: 150px;
}

.comment__wrap{
  display: none;
}

.comment_show{
  display: block !important;
}

.comment__reply-form{
  display: none;
}

.comment__reply-form_show{
  display: block !important;
}

.session__wrap{
  width: 400px;
}