// Bootstrap の Sass mixin を使えるようにするための記述
@use "~bootstrap/scss/bootstrap" as *;

@use "../global/variables" as *;

.sidebar{
  position: sticky;
  top: 0px;
  height: 850px;
  .main_logo{
    height: 150px;
    width: 150px;
  }
  .sidebar__item-wrap{
    margin: 20px 0;
    .sidebar__item-link{
    font-size: 25px;
    }
  }
}