// Bootstrap の Sass mixin を使えるようにするための記述
@use "~bootstrap/scss/bootstrap" as *;

@use "../global/variables" as *;

.sidebar{
  position: sticky;
  top: 0px;
  background-image: linear-gradient(0deg, rgba(250, 180, 113, 1), rgba(255, 237, 221, 1) 30%, rgba(237, 160, 86, 1) 100%);;
  color: white;
  height: 850px;
  .main_logo{
    height: 150px;
    width: 150px;
  }
  .sidebar__item-wrap{
    margin: 20px 0;
    .sidebar__item-link{
    font-size: 25px;
    }
  }
}