// Bootstrap の Sass mixin を使えるようにするための記述
@use "~bootstrap/scss/bootstrap" as *;

@use "../global/variables" as *;

.sidebar{
  background-image: linear-gradient(0deg, rgba(250, 180, 113, 1), rgba(255, 237, 221, 1) 50%, rgba(237, 160, 86, 1) 100%, rgba(79, 74, 70, 1) 50%);;
  color: white;
  height: 850px;
  .main_logo{
    height: 100px;
    width: 150px;
  }
}