%h3
  = t("report")
%table.table
  %thead
    %tr
      %th ID
      %th 
      %th 日時
      %th
      %th 状態
  %tbody#report__wrap
    = render partial: "admin/reports/show", collection: @reports, as: "report"