= render "public/users/info", user: @user
.row.justify-content-around.text-center.text-light.border-bottom
  - link_items.each do |item|
    - if item[:type] == "ajax"
      %btn.col-2.bg-success
        = item[:text]
    - elsif item[:type] == "link"
      = link_to item[:text], item[:path], class: "text-light col-2 bg-primary"
.posts_show
  = render partial: "public/posts/show_post", collection: @user.posts, locals: { comment: Comment.new}